.pug {
   background-color: plum; 
  height: 650px;
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* text-align: center; */
  color: white;
  /* background-size: 100%;
  background-position: left top;
  background-repeat: no-repeat; */ 
  /* background-attachment: fixed; */
  /* width: 100%; */ 
  /* padding-left: 0px !important;
  padding-right: 0px !important; */
  }

  .jumbo {
    display: flex;
    align-items: center;
  }
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* #nav {
display: flex;
justify-content: flex-end;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
